body {
    background: blue;
    color: white;
    text-align: left;

}
h1 {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding-bottom: 50px;
    text-align: left;
}
p span {
    font-size: 2em;
}